aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            li.header Product Type
                li.treeview
                    a(href='/desks')
                        i.fa.fa-table
                        span Desk
                li.treeview
                    a(href='/chairs')
                        i.fa.fa-table
                        span Chair
                li.treeview
                    a(href='/closets')
                        i.fa.fa-linkrendering
                        span Closet
